.root {
  background-color: beige !important;
}

.timeline-nav {
  display: flex;
  justify-content: space-around;
  height: 50px;
  overflow-x: auto;
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  background-color: pink;
  vertical-align: middle;
  overflow-y: hidden;
  justify-content: center;
}

.parallax-section {
  background-color: beige !important;
}

img {
  transition: transform 0.25s ease;
  z-index: 1 !important;
}

.img-container {
  transition: transform 0.25s ease;
  z-index: 1 !important;
}
@media (max-resolution: 1dppx) {
  img:hover {
    -webkit-transform: scale(1.25); /* or some other value */
    transform: scale(1.25);
    z-index: 999 !important;
  }
  .img-container:hover {
    -webkit-transform: scale(1.25); /* or some other value */
    transform: scale(1.25);
    z-index: 999 !important;
  }
}
